.container{
    margin: 50px 0;
}

.card{
    margin: 0 2% !important;
}

.infected{
    border-bottom: 10px solid rgba(95, 6, 95, 0.5);
}

.recovered{
    border-bottom: 10px solid rgba(82, 182, 24, 0.5);
}

.deaths{
    border-bottom: 10px solid rgba(192, 23, 23, 0.5);
}

@media(max-width: 950px){
    .card{
        margin: 2% 0 !important;
    }
}